.idea/
CMakeLists.txt
cmake-build-debug/
Test Zone
Unit 3 Embedded C/Lesson 1/.settings
Unit 3 Embedded C/Lesson 1/Debug
Unit 3 Embedded C/Lesson 1/Startup
Unit 3 Embedded C/Lesson 1/.cproject
Unit 3 Embedded C/Lesson 1/.project
Unit 3 Embedded C/Lesson 1/STM32F103C8TX_FLASH.ld